<!DOCTYPE html>
<html>
  <head>
    <title>BxMark Store ðŸš€</title>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73825532-3"></script>
    <% if Rails.env.production? %>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', "<%= ENV['GOOGLE_ANALYTICS_ID'] %>");
      </script>
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>

    <meta content='width=device-width, initial-scale=1.0' name='viewport'>

  </head>

  <body>
    <div class="container">
      <header>
        <h1><%= link_to "BxMark Store Open ðŸª hrs", :root %></h1>
        <p class="tagline">Learn, Improve, Go Get It!</p>
      </header>
      <%= yield %>
      <div class="footer">
        <%= link_to "BxMark Store", "http://bxmark.net/", style: "text-decoration: underline;" %>
        <p>Contact: info@bxmark.net</p>
      </div>
    </div>
  </body>
</html>
